.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; /* Adjust height as needed */
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5); /* Adjust color and opacity */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-top-color: #3498db; /* Adjust color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.hidden {
  display: none;
}